@import url('https://fonts.googleapis.com/css2?family=Neucha&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Mountains+of+Christmas:wght@700&display=swap');

body {
    background-color: #283618;
    color: #fefae0;
    font-family: 'Neucha', cursive;
}

.navigation {
    color: #fefae0;
    background-color: #606c38;
    padding: 0;
}

.brand {
    color: #fefae0;
    font-size: 3vw;
    color: #bc6c25;
    text-shadow: 1px 0px rgb(41, 21, 18);
    font-family: 'Mountains of Christmas', cursive;
    margin: -1vw;
}

.brand:hover {
    color: rgb(41, 21, 18);
}

.navLink {
    color: #fefae0;
    font-size: 2vw;
}

.navLink:hover {
    color: #283618;
}

.navbar-toggler {
    border: none;
    height: 3vw;
    width: 3vw;
    min-height: 32px;
    min-width: 35px;
    padding: 0;
}

.navbar-toggler-icon {
    height: 2vw;
    width: 2vw;
    min-height: 30px;
    min-width: 30px;
    background-image: url(./images/burgerMenu.png);
}

.about {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.about header {
    background-color: #606c38;
    width: 100vw;
    height: max-content;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1vw 18vw 0 18vw;
    border-bottom: 4px solid rgb(41, 21, 18);
    text-shadow: 2px 2px rgb(41, 21, 18);
}

.about h1 {
    font-size: 6vw;    
}

.about h3 {
    font-size: 3vw;     
}

.myFace {
    height: 20vw;
    width: 20vw;
}

.projectIndexContainer {
    width: 100vw;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 10px;
}

.indexProject {
    width: 50%;
    color: rgba(0,0,0,0);
    text-decoration: none;
    padding: 20px 10px 0 10px;
    flex-grow: 1;
    position: relative;
}

.indexProject img {
    width: 100%;
    border: 4px solid rgb(41, 21, 18);
    border-radius: 10px;
}

.indexProject:hover {
    color: #fefae0;
    text-shadow: 3px 3px 2px #606c38;
}

.indexProject h1 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 4em;
    text-align: center;
}

.cover {
    width: calc(100% - 20px);
    height: calc(100% - 20px);
    position: absolute;
    top: 20px;
    left: 10px;
    border-radius: 10px;
    border: 3px solid #bc6c25;
}

.cover:hover {
    background-color: rgba(0,0,0,.6);
}


@media (max-width: 1300px) {
    .brand {
        font-size: 4vw;
    }
    .navLink {
        font-size: 2.4vw;
    }
}

@media (max-width: 900px) {
    .indexProject {
        width: 100%;
        padding: 5px 8px;
    }
    .cover {
        width: calc(100% - 16px);
        height: calc(100% - 10px);
        top: 5px;
        left: 8px;
    }
    .brand {
        font-size: 5vw;
    }
    .navLink {
        font-size: 3vw;
    }
}

@media (max-width: 700px) {
    .brand {
        font-size: 7vw;
    }
    .navLink {
        font-size: 4vw;
    }
}