@import url('https://fonts.googleapis.com/css2?family=Neucha&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Mountains+of+Christmas:wght@700&display=swap');
/* @import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap'); */

body {
    background-color: #292919;
    color: #fefae0;
    font-family: 'Neucha', cursive;
    /* font-family: 'Quicksand', sans-serif; */
}

.navigation {
    background-color: #3c4323;
    padding: 0;
}

.navbar {
    --bs-navbar-active-color: #291512;
}

.brand {
    font-size: 3vw;
    color: #bc6c25;
    text-shadow: 1px 0px #291512;
    font-family: 'Mountains of Christmas', cursive;
    margin: -1vw;
    transition: color .15s ease-in-out;
}

.brand:hover {
    color: #291512;
}

.navLink {
    color: #fefae0;
    font-size: 2vw;
}

.resumeIcon {
    fill: #fefae0;
    height: 2vw;
    width: 2vw;
    transition: fill .15s ease-in-out;
}

.navLink:hover {
    color: #291512;
}

.navLink:hover .resumeIcon{
    fill: #291512;
}

.linkedIn {
    height: 8vw;
    margin: -1.7vw 0;
    font-size: 0;
}

.gitIcon {
    height: 3.5vw;
    margin: .4vw 0;
    font-size: 0; 
}

.svgHover, .svgHoverLt {
    transition: fill .15s ease-in-out;    
}

.gitIcon:hover .svgHover, .linkedIn:hover .svgHover {
    fill: #291512;
}

.gitIcon:hover .svgHoverLt, .linkedIn:hover .svgHoverLt {
    fill: #fefae0;
}

.navbar-toggler {
    border: none;
    height: 3vw;
    width: 3vw;
    min-height: 32px;
    min-width: 35px;
    padding: 0;
}

.navbar-toggler-icon {
    height: 2vw;
    width: 2vw;
    min-height: 30px;
    min-width: 30px;
    background-image: url(./images/burgerMenu.png);
}

.navbar-toggler:focus {
    background: rgba(41, 21, 18, .5);
    box-shadow: none;
}

header {
    background: linear-gradient(#3c4323, #606c38);
    height: max-content;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.5vw 19vw 0 19vw;
    border-bottom: 4px solid #291512;
    text-shadow: 2px 2px #291512;
}

header h1 {
    font-size: 6vw;
}

header h2 {
    font-size: 2vw;
    color: #fefae0;
    text-shadow: .1vw .2vw #291512;
    text-align: right;
    margin: -2vw -2.4vw -1vw 0;
}

header h3 {
    font-size: 3vw;     
}

.myFace {
    height: 20vw;
    width: 20vw;
}

.skillBar {
    width: max-content;
    margin: auto;
}

.skillIcon {
    height: 4vw;
    margin: 1vw;
}

.skillIconMd {
    height: 5vw;
    margin: 1vw;
}

.skillIconSm {
    height: 7vw;
    margin: 0 1vw;
}

.projectIndexContainer {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 0;
}

.indexProject {
    width: 50%;
    color: rgba(0,0,0,0);
    text-decoration: none;
    padding: 20px 10px 0 10px;
    flex-grow: 1;
    position: relative;
    transition: color .15s ease-in-out, text-shadow .15s ease-in-out;
}

.indexProject img {
    width: 100%;
    border: 4px solid #291512;
    border-radius: 10px;
}

.indexProject:hover {
    color: #fefae0;
    text-shadow: 3px 3px 2px #606c38;
}

.indexProject h1 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 7vw;
    text-align: center;
}

.cover {
    width: calc(100% - 20px);
    height: calc(100% - 20px);
    position: absolute;
    top: 20px;
    left: 10px;
    border-radius: 10px;
    border: 3px solid #bc6c25;
    transition: background-color .15s ease-in-out;
}

.cover:hover {
    background-color: rgba(0,0,0,.6);
}

.homeProjects, .contactForm, .homeAbout, .professional, .musical, .weird, .baking {
    border-radius: 10px;
    margin: 3vw auto;
    border: .4vw solid #291512;
    width: 95vw;    
}

.homeAbout {
    background: #dda15e;
    text-align: center;
    color: #291512;
    padding: 1.5vw 4vw;
    font-size: 2.3vw;
    word-spacing: .4vw;
    line-height: 3.6vw;
}

.homeAbout h2 {
    font-size: 3vw;
}

.homeProjects {
    background-color: #606c38;
    text-align: center;
    padding: 2vw;
}

.homeProjects h2 {    
    text-shadow: 1px 1px #291512;
    font-size: 3.5vw;
}

.sectionWrap {
    border-radius: 1vw;
    background-color: #291512;
    height: 35.5vw;
    padding: .25vw;
}

.homeProjects section {
    height: 35vw;
    overflow-y: auto;
    background-color: #2b1f13;
    padding: 0 1vw 1vw 1vw;
    border-radius: .5vw;
    border: 4px #291512;
    scrollbar-color: #9f5b20 #291512;
    scrollbar-width: thin;
}

.homeProjects section::-webkit-scrollbar {
    background-color: #291512;
    width: 1vw;
    border-radius: 10px;
}

.homeProjects section::-webkit-scrollbar-thumb {
    background: linear-gradient(#9f5b20, #3f211c);
    border-radius: 10px;
}

.contactForm {
    background-color: rgba(188,108,37,.7);
    text-shadow: 1px 1px #291512;
    padding: 1vw 0;
    height: 37vw;
}

.contactForm h2 {
    width: max-content;
    font-size: 3.5vw;
    margin: 2vw auto;
}

.inputs {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
}

.contactForm input, textarea {
    width: 40vw;
    border: none;
    padding: .7vw;
    border-radius: .5vw;
    background: #dda15e;
    box-shadow: inset 2px 2px 4px #291512;
    font-size: 2vw;
}

.contactForm input:focus, textarea:focus {
    outline: 2px solid #291512;
}

::placeholder {
    color:rgba(41, 21, 18, .6);
}

.contactForm textarea {
    resize: none;
    overflow: auto;
    height: 15vw;
}

.contactForm span {
    color:#291512;
    text-shadow: none;
}

.contactForm label {
    font-size: 2.5vw; 
}

.emailLabel {
    margin-top: 2vw;
}

.contactForm button, .projectNavLink, .projectLink {
    border-radius: 1vw;
    background: linear-gradient(#bc6c25, #291512);
    color: #fefae0;
    border: none;
    padding: .3vw .8vw 0 .8vw;
    box-shadow: 2px 1px 2px #291512;
    font-size: 2.5vw;
    text-shadow: .2vw .2vw #291512;
    margin: 1vw 0;
    transition: background .15s ease-in-out;
}

.contactForm button:hover, .projectNavLink:hover, .projectLink:hover {
    background: linear-gradient(#291512, #bc6c25);
    color:#291512;
    text-shadow: none;
}

.emailResponse {
    height: 100%;
    width: 100%;
    display: flex;
}

.emailResponse p {
    text-align: center;
    font-size: 5vw;
    margin: auto;
}

.professional, .professional p, .musical, .musical p, .weird, .weird p, .baking, .baking p {
    display: flex;
    padding: 1vw;
    font-size: 2vw;
    word-spacing: .4vw;
    line-height: 3.4vw;
    color: #291512;
    text-align: center;
    justify-content: space-evenly;
}

.professional p, .musical p, .baking p, .weird p {
    margin: auto;
}

.professional img, .weird img, .baking img {
    border-radius: 1vw;
}

.professional {
    height: 28vw;
    background-color: #92a162;
}

.baking {
    background-color:#9f5b20;
    height: 24vw;
}

.gordita {
    height: 18vw;
    margin: auto;
}

.musical {
    background-color: #92a162;     
}

.weird {
    height: 30vw;
    background-color:#9f5b20;
}

iframe {
    border-radius: 10px;
    height: 22vw;
    width: 39.1vw;
    margin: auto;
}

.musical p {
    width: 50vw;
}

.projectShow {
    display: flex;
    padding: 0 5vw 2vw 5vw;
    justify-content: space-between;
}

.projectShowTitle {
    font-size: 5vw;
    width: max-content;
    margin: 2vw auto 1vw auto;
}

.projectShowSubtitle {
    font-size: 2.5vw;
    width: max-content;
    margin: -1.5vw auto 2vw auto;
}

.projectLinks {
    display: flex;
    justify-content: space-evenly;
    width: 75vw;
    margin: -1vw auto 1vw auto;
}

.projectLink, .projectNavLink {
    background: linear-gradient(#bc6c25, #543011);
    border-radius: 1.5vw;
}

.projectLink:hover, .projectNavLink:hover {
    background: linear-gradient(#543011, #bc6c25);
}

.projectLink {
    text-decoration: none;
    font-size: 2.6vw;
    padding: .2vw 1.5vw 0 1.5vw;    
}

.projectIcon {
    height: 2.5vw;
    width: 2.5vw;
    fill: #fefae0;
}

.projectLink:hover .projectIcon {
    fill: #291512;
}

.projectImages, .projectImages img, .projectImages video, .projectLeft {
    width: 43vw;
}

.projectImages img, .projectImages video {
    margin: .8vw 0;
    border-radius: 1vw;
    border: .3vw solid #bc6c25;
}

.evenBlurb, .oddBlurb {
    font-size: 2.2vw;
    border-radius: 1vw;
    border: .3vw solid #291512;
    width: 36vw;
    height: max-content;
    margin-bottom: 2vw;
    padding: 2vw;
}

.evenBlurb p, .oddBlurb p {
    height: max-content;
}

.evenBlurb {
    background-color: #92a162;
    color: #291512;
}

.oddBlurb {
    margin-left: auto;
    background-color: #9f5b20;
}

.projectNav {
    display: flex;
    justify-content: center;
}

.projectNavLink {
    text-decoration: none;
    margin: 2vw;
    font-size: 2.4vw;
    padding: .5vw 1.5vw .3vw 1.5vw;
}

footer {
    text-align: center;
    font-size: 2vw;
}

@media (max-width: 1300px) {
    .brand {
        font-size: 4vw;
    }
    .navLink {
        font-size: 2.4vw;
    }
    .resumeIcon {
        height: 2.4vw;
        width: 2.4vw;
    }
}

@media (max-width: 900px) {
    .indexProject {
        width: 100%;
        padding: 5px 8px;
    }
    .indexProject h1 {
        font-size: 10vw;
    }
    .cover {
        width: calc(100% - 16px);
        height: calc(100% - 10px);
        top: 5px;
        left: 8px;
    }
    .brand {
        font-size: 5vw;
    }
    .navLink {
        font-size: 3vw;
    }
    .resumeIcon {
        height: 3vw;
        width: 3vw;
    }
    .linkedIn  {
        height: 10vw;
        margin: -1.9vw 0;
    }
    .gitIcon {
        height: 4vw;
        margin: .7vw 0;
    }
    header h2 {
        font-size: 2.5vw;
    }
    .sectionWrap {
        height: 55.5vw;
    }
    .homeProjects section {
        height: 55vw;
    }
    .professional, .professional p, .musical, .musical p, .weird, .weird p, .baking, .baking p {
        font-size: 2.8vw;
        word-spacing: .4vw;
        line-height: 4vw;
    }
    .professional {
        height: 48vw;
    }
    .baking {
        height: 32vw;
    }

    .projectLinks {
        width: 85vw;
    }
    .projectLink {
        font-size: 3.5vw;
    }
    .projectIcon {
        width: 3.3vw;
        height: 3.3vw;
    }    
    footer {
        font-size: 3vw;
    }
}

@media (max-width: 700px) {
    .brand {
        font-size: 7vw;
    }
    .navLink {
        font-size: 4vw;
    }
    .linkedIn  {
        height: 15vw;
        margin: -3.5vw 0;
    }
    .gitIcon {
        height: 5.2vw;
        margin: 1vw 0;
    }
    .skillIcon {
        height: 6vw;
    }    
    .skillIconMd {
        height: 7.5vw;
    }    
    .skillIconSm {
        height: 10.5vw;
    }
    .homeAbout {
        font-size: 3.4vw;
        word-spacing: .8vw;
        line-height: 4.4vw;
    }
    .homeAbout h2 {
        font-size: 4vw;
    }
    .inputs {
        height: 60vw;
        flex-direction: column;
        align-content: center;
        width: 80vw;
        margin: auto;
    }
    .contactForm {
        height: 73vw;
    }    
    .contactForm h2 {
        font-size: 4vw;
    }
    .contactForm input, textarea {
        width: 80vw;
    }
    .contactForm label {
        font-size: 3.4vw;
    }
    .contactForm button {
        font-size: 3.8vw;
        margin: 0;
        padding: .7vw 1vw 0 1vw;
    }
    .contactForm input, textarea {
        font-size: 3vw;
    }
    .professional, .professional p, .musical, .musical p, .weird, .weird p, .baking, .baking p {
        font-size: 3.4vw;
        word-spacing: .5vw;
        line-height: 5vw;
    }
    .professional {
        height: 75vw;
    }
    .professional img {
        height: 47vw;
        margin: auto;
    }
    .musical {
        flex-direction: column;
    }
    .musical p {
        width: 80vw;
    }
    iframe {
        height: 33vw;
        width: 58.65vw;
    }
    .baking {
        height: 50vw;
    }
    .baking img {
        margin: auto;
    }
    .gordita {
        height: 25vw;
    }
    .foxes {
        height: 35vw;
    }
    .weird {
        height: 40vw;
    }
}

@media (max-width: 500px) {
    .projectShow {
        flex-direction: column;
    }
    .projectShowTitle {
        font-size: 6vw;
    }
    .projectShowSubtitle {
        font-size: 4vw;
        width: 85vw;
        text-align: center;
    }
    .projectLinks {
        width: 100vw;    
    }
    .projectLink {
        font-size: 4.3vw;    
    }
    .projectLeft, .projectImages {
        margin: auto;
        width: 80vw;
    }
    .oddBlurb, .evenBlurb {
        font-size: 4vw;
        text-align: center;
        width: 60vw;
    }
    .projectImages img, .projectImages video {
        width: 80vw;
    }
}

@media (max-width: 330px) {
    .professional {
        height: 85vw;
    }
    .contactForm {
        line-height: 5vw;
    }
    .inputs {
        height: 60vw;
    }
}